<div class="mt-4">

  <div class="row">

    {{#each course}}
      <div class="col-sm-6 col-lg-4">
        <div class="card">
          <a href="/khoa-hoc/{{this.slug}}">
            <img src="{{this.image}}" class="card-img-top" alt="..." />
          </a>

          <div class="card-body">
            <a href="/khoa-hoc?{{this.slug}}">
              <h5 class="card-title">Card title</h5>
            </a>
            <p class="card-text">Some quick example text to build on the card
              title and make up the bulk of the card’s content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    {{/each}}

  </div>
</div>